[submodule "modules/bash-utils"]
	path = modules/bash-utils
	url = https://e-picas@gitlab.com/e-picas/bash-utils.git
[submodule "modules/markdown-extended"]
	path = modules/markdown-extended
	url = https://github.com/e-picas/markdown-extended.git
[submodule "modules/ftpsync"]
	path = modules/ftpsync
	url = git://git.savannah.gnu.org/ftpsync.git
[submodule "modules/atelierspierrot"]
	path = modules/atelierspierrot
	url = https://github.com/atelierspierrot/atelierspierrot.git
[submodule "modules/git-changelog"]
	path = modules/git-changelog
	url = https://github.com/e-picas/git-changelog.git
[submodule "modules/generate-salt"]
	path = modules/generate-salt
	url = https://github.com/e-picas/generate-salt.git
